#carousel
    margin-top: 5rem
    padding: 5%
.card
    @extend .flex-column
    padding: 2rem 10rem 3rem 10rem
    background: $white
    border-radius: 30px
    box-shadow: 5px 5px 5px gray
    height: 100%
    width: 70%
    p
        margin: 4rem
        text-align: center
.arrow
    margin: 0 5rem
.flag
    width: 100px
    height: 100px