@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

$font-primary: 'Playfair Display', serif; 
$violeta: #4500A6;
$celeste: #D7DEFF;
$gris: #E0E0E0;
$beige: #E4D8CF;
$negro: #313653;
$highlight: #45ABB5;